<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/loginAction" method="POST">
      <p>
        ユーザ名：<input type="text" name="username">
      </p>
      <p>
        パスワード：<input type="password" name="password">
      </p>
      <input type="submit" value="ログイン">
    </form>

    <p><a href="<%= registUserLink.href %>"><%=registUserLink.text %></a></p>
  </body>
</html>
